<h3>View User Details</h3>

<div >
    <div>
        <label><b>User Id </b></label>{{user.id}}
    </div>
    <div>
        <label><b>First Name </b></label>{{user.fname}}
    </div>
    <div>
        <label><b>Last Name </b></label>{{user.lname}}
    </div>
    <div>
        <label><b>Email Id </b></label>{{user.email}}
    </div>
</div>
