<div class="row">

    <h2>User List</h2>
</div>

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of user">
            <td>{{u.id}}</td>
            <td>{{u.fname}}</td>
            <td>{{u.lname}}</td>
            <td>{{u.email}}</td>
            <td>
                <button (click)="updateUser(u.id)" class="btn btn-primary" style="margin-left: 10px;">update</button>
                <button (click)="deleteUser(u.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="userDetails(u.id)" class="btn btn-primary" style="margin-left: 10px;">view</button>
            </td>
        </tr>
    </tbody>
</table>
