<div class="image" >
  <div class="container container-style">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div container="Login">
        <h2>Login</h2> 
        <label for="username">Username:</label>&nbsp;&nbsp;
        <input type="text" id="username" name="username" formControlName="username">
        <div *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)">
          <div *ngIf="form.controls['username']">Username is required.</div>
        </div>
      </div> <br>
      <div>
        <label for="password">Password:</label>&nbsp;&nbsp;
        <input type="password" id="password" name="password" formControlName="password">
        <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
          <div *ngIf="form.controls['password']">Password is required.</div>
        </div>
      </div> 
      
      <br>
      <button (click)="showAlert()" type="submit" [disabled]="form.invalid" a routerLink="users">Admin Login</button> &nbsp;&nbsp;<br>
      <br>

     
      <button (click)="showAlert()" type="submit" [disabled]="form.invalid" a routerLink="posts">User Login</button> &nbsp;&nbsp;<br>
      <br>
      <span>Don't have an account? <a routerLink="sign-up">create one</a></span>
      <br>
    </form>
  </div>
  </div>



