<!--<div class="image">
  <div class="container container-style">
      <form  (ngSubmit)="onSubmit()">
          <h2>SignUp</h2> 
          <label>Name:</label>
          <input type="text" formControlName="name"> <br> 
           <br>
          <label>Email:</label>
          <input type="email" formControlName="email"> <br>
           <br>
          <label>Password:</label>
          <input type="password" formControlName="password"> <br>
           <br>
          <label>Confirm Password:</label>
          <input type="password" formControlName="confirmPassword"> <br> 
          <br>
          <label>Gender:</label>
          <select formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select> <br>
          <br>
          <label>Age:</label>
          <input type="number" formControlName="age"> <br>
           <br>
          <label>Country:</label>
          <input type="text" formControlName="country"> <br>
          <br>-->
          <!--label>
           <input type="checkbox" formControlName="terms">Agree
          </label> <br>
          <br-->
          <!--<button type="submit"  a routerLink="">Sign Up</button>
        </form>
      </div>
    </div>-->


    <div class="image">
      <div class="container container-style">
        <form  (ngSubmit)="onSubmit()">
            <h2>SignUp</h2>  
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div container="signup">
              
                <label for="name">Name:</label>&nbsp;&nbsp;
                <input type="text" id="name" name="name" formControlName="name">
                <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
                  <div *ngIf="form.controls['name']">Name is required and should not start with number</div>
                </div>
              </div> 
              <label for="email">email:</label>&nbsp;&nbsp;
              <input type="text" id="email" name="email" formControlName="email">
              <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                <div *ngIf="form.controls['email']">Email is required</div>
              </div>
          
            
             <label for="password">Password:</label>&nbsp;&nbsp;
             <input type="text" id="password" name="password" formControlName="password">
             <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
               <div *ngIf="form.controls['password']">Password should be 10 characters</div>
             </div>
          
            
            <label for=" confirmpassword">ConfirmPassword:</label>&nbsp;&nbsp;
            <input type="text" id="confirmpassword" name="confirmpassword" formControlName="confirmpassword">
            <div *ngIf="form.controls['confirmpassword'].invalid && (form.controls['confirmpassword'].dirty || form.controls['confirmpassword'].touched)">
              <div *ngIf="form.controls['confirmpassword']">Password should be matched</div>
            </div>

            <label for="gender">Gender</label>&nbsp;&nbsp;
            <input type="text" id="gender" name="gender" formControlName="gender">
            <div *ngIf="form.controls['gender'].invalid && (form.controls['gender'].dirty || form.controls['gender'].touched)">
              <div *ngIf="form.controls['gender']">Gender is required</div>
            </div>

            <label for="country">Country</label>&nbsp;&nbsp;
            <input type="text" id="country" name="country" formControlName="country">
            <div *ngIf="form.controls['country'].invalid && (form.controls['country'].dirty || form.controls['country'].touched)">
              <div *ngIf="form.controls['country']">Country is required</div>
            </div>
            <button (click)="showAlert()" type="submit" [disabled]="form.invalid" a routerLink="">Sign Up</button>
            </form>
           <div>

          
    </div>

       
 


    