<h1>
    LIVE BLOGGER
</h1>
<br>

<br>
<button type= "submit" [routerLink]="['/posts']">Get started</button> &nbsp;&nbsp;<br>
<br>
<h2>Stay curious.</h2>
<br>
<h3>
Discover Stories,thinking,and expertise from writers on any topic.
</h3>
<router-outlet></router-outlet>