h1{
    padding-top: 50px;
    text-align: center;
    color: coral;
    font-size: xx-large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  h2{
    
    font-size: medium;
    color: black;
    font-style: italic;
  }
  h3{
   font-size: medium;
  }